@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.destaque {
  color: #4EA13A;
}

img {
  border-radius: 3%;
  width: 500px;
  height: 500px;
}

.cabecalho {}

.cabecalho__menu {
  padding: 2% 0 0 15%;
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #4EA13A;
  text-decoration: none;
}

.apresentacao {
  padding: 4% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao__conteudo {
  display: flex;
  width: 615px;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 38px;
  font-family: 'Krona One', sans-serif;
  font-weight: 400;
}

.apresentacao__conteudo__texto {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}

.apresentacao__links_redes {
  font-size: 24px;
  font-family: 'Krona One', sans-serif;
  font-weight: 400;
}


.apresentacao__links_link {
  display: flex;
  justify-content: center;
  gap: 16px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #4EA13A;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  width: 378px;
  text-decoration: none;
  color: #F6F6F6;
  padding: 21px 0;
}

.apresentacao__links_link:hover {
  background-color: #272727;
}

.apresentacao__links_link__logo {
  width: 32px;
  height: 32px;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #4EA13A;
  padding: 30px;
  text-align: center;
}